/*
    File: /~kgreene/public_html/css/pacific.css
    Kevin Greene, kevin_greene@student.uml.edu
    Student of Umass Lowell Computer Science,
    in course COMP 4610 GUI Programming I Sec 021
    File created: 7/17/2020
    Description: This css file provides styling for the
		    Pacific Trails Resort webpage from homework 3
*/

header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
body {
	background-image: url("../images/ptrbackground.jpg");
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #00569f;
}

#wrapper {
	/* set contents to correct size on page */
	width: 80%;
	min-width: 600px;
	margin:auto;
	margin-top: 20px;
	/* I use grids to align page elements.
	    first column is small so that navbar can fill it up and then
			some, to reach its fixed width */
	display: grid;
	grid-template-columns: 1fr 5fr 5fr;
}

header {
	/* here, I put the sunset image in the header background and move
		it to the right. then, I make the rest of the background this dark blue color */
	background-image: url("../images/sunset.jpg");
	background-repeat: no-repeat;
	background-position: right;
	background-color: #000032;

	/* the header fills up the first row of the grid */
	grid-column: 1/4;

	height:60px;
}

nav {
	/* Here, I put the navbar on the left part of the grid below the header,
	  and give it the fixed width of 200px */
  width:200px;
  grid-row: 2/4;
	grid-column: 1/2;
  background-color: #7EB9D7;
}

nav ul {
	font-size: 1.2em;
  list-style: none;
	padding-left: 20px;
}

nav a {
	text-decoration: none;
  font-weight: bold;
  color: #000032;
}
nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #FFFFFF;
}

/* here I set the color and position of the content box, and add padding */
#content {
	width:auto;
	background-color: white;
	overflow:hidden;

	grid-column: 2/4;

	padding:30px;
	padding-top: 5px;
}

#content img {
	float:left;
	padding-right: 15px;
}

#content p {
	padding: 10px;
}

#content ul {
	list-style-image: url("../images/marker.gif");
}

#content ul li {
	list-style-position: inside;
}

h1 {
	margin-bottom: 0;
	margin-top: 0;
	padding:10px;
	color:white;
}
h2 {
	color: #3399CC;
}
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}

.resort {
	color: #7EB9D7;
	font-weight: bold;
}

#contact {
	font-size: 90%;
}
dt {
	color: #000033;
}
footer {
	font-family: Georgia, "Times New Roman", serif;
	font-size: .8em;
	font-style: italic;
	background-color: white;

	grid-column: 2/4;

	padding: 20px;
}
