/*
File: /~kgreene/public_html/css/styles2.css
Kevin Greene, kevin_greene@student.uml.edu
Student of Umass Lowell Computer Science,
in course COMP 4610 GUI Programming I Sec 021
File created: 7/22/2020
Description: This file styles some of the bootstrap
  elements of my webpage
*/

/* background color for entire page */
body{
  background-color: #FAF4E4;
}

/* custom color for navbar */
.navbar.navbar-dark {
    background-color: #2E314D;
}

/* custom color for jumbotron */
.jumbotron {
    background-color: #e4e6f7;
}

/* custom color for body of the cards */
.card-body {
    background-color: #e4e6f7;
}

/* margin under the cards, so they have some space when they stack vertically */
.card {
    margin-bottom: 20px;
}
